body{
    font-family: Arial;
    text-align:center;
    background:#f4f4f4;
}

table{
    margin:auto;
    border-collapse:collapse;
    width:80%;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
}

th{
    background:#333;
    color:white;
}